[Unit]
Description=Poll Service

[Service]
User=root
WorkingDirectory=/var/www/html/
EnvironmentFile=/etc/default/poll.env
ExecStart= flask run --host=${POLL_HOST} --port=${POLL_PORT}
Restart=always

[Install]
WantedBy=multi-user.target